body {
  margin: 0;
  padding: 0;
  background: #fcc6c6;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
  background: #ff8d8d ;
}

header img {
  height: 150px;
  object-fit: contain;
}

.galeria {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 25px;
}

.item {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  transition: 0.35s;
  text-align: center;
}

.item:hover {
  transform: scale(1.05);
}

.img-box {
  position: relative;
  width: 100%;
  height: 350px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #ff9999; /* o el color que prefieras */
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .4s ease-in-out;
}

.back {
  opacity: 0;
}

.item:hover .back {
  opacity: 1;
}

.item:hover .front {
  opacity: 0;
}

.descripcion {
  padding: 10px;
  font-size: 14px;
  color: #555;
}

.btn-cart {
  padding: 12px 20px;
  background: #ec4e43;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 12px;
}

footer {
  background: #ff8d8d ;
  padding: 25px;
  text-align: center;
}

.btn-volver {
  padding: 10px 20px;
  background: #ff0066;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;

}
